.card-permission {
  overflow: hidden;
  position: relative;
  text-align: left;
  max-width: 600px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  animation: slideIn 1s forwards;
}
.card-granted {
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 600px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(-200%);
  }

  to {
    transform: translateY(0);
  }
}

.dismiss {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: black;
  border: 2px solid #d1d5db;
  font-size: 1rem;
  font-weight: 300;
  width: 30px;
  height: 30px;
  border-radius: 7px;
  transition: 0.3s ease;
}

.dismiss:hover {
  background-color: #ee0d0d;
  border: 2px solid #ee0d0d;
  color: #fff;
  cursor: pointer;
}

.dismiss:active {
  background-color: #b30c0c;
  border: 2px solid #b30c0c;
  color: #fff;
}

.header {
  padding: 1.25rem 1rem 1rem 1rem;
}

.image-permission {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  transition: 0.6s ease;
}

.image-granted {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #49a973;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  transition: 0.6s ease;
}

.image-permission svg {
  color: #0afa2a;
  width: 2rem;
  height: 2rem;
}

.image-permission p {
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.content-permission {
  margin-top: 0.75rem;
  text-align: center;
}

.content-granted {
  margin-top: 0.75rem;
  text-align: center;
}

.title-permission {
  color: red;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
}
.title-granted {
  color: #49a973;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.message-permission {
  margin-top: 1rem;
  color: #595b5f;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.actions {
  margin: 0.75rem 1rem;
}

.reload-permission {
  display: inline-flex;
  padding: 0.5rem 1rem;
  background-color: red;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: bolder;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.reload-permission:hover {
  background-color: #ee0d0d;
  cursor: pointer;
}

.reload-permission:active {
  background-color: #b30c0c;
}

.reload {
  display: inline-flex;
  padding: 0.5rem 1rem;
  background-color: #1aa06d;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.reload:hover {
  background-color: #0d8e5d;
  cursor: pointer;
}

.reload:active {
  background-color: #066e29;
}

.loader {
  display: flex;
  justify-content: center;
}

.loader-bar {
  width: 20px;
  height: 60px;
  margin: 0 8px;
  border-radius: 4px;
  animation: loading_3194 1s forwards infinite;
}

.stop-animation {
  width: 20px;
  height: 60px;
  margin: 0 8px;
  border-radius: 4px;
  animation-play-state: paused;
}

.loader-bar:nth-child(1) {
  background-color: rgb(0, 92, 185);
  animation-delay: 0.1s;
}

.loader-bar:nth-child(2) {
  background-color: rgb(0, 157, 78);
  animation-delay: 0.2s;
}

.loader-bar:nth-child(3) {
  background-color: rgb(0, 92, 185);
  animation-delay: 0.3s;
}

.loader-bar:nth-child(4) {
  background-color: rgb(0, 157, 78);
  animation-delay: 0.4s;
}

.stop-animation:nth-child(1) {
  background-color: rgb(0, 92, 185);
  animation-delay: 0.1s;
}

.stop-animation:nth-child(2) {
  background-color: rgb(0, 157, 78);
  animation-delay: 0.2s;
}

.stop-animation:nth-child(3) {
  background-color: rgb(0, 92, 185);
  animation-delay: 0.3s;
}

.stop-animation:nth-child(4) {
  background-color: rgb(0, 157, 78);
  animation-delay: 0.4s;
}

@keyframes loading_3194 {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scaleY(3);
  }

  40% {
    transform: scale(1);
  }
}

/* 
rgb(0,  92, 185)
rgb(0, 157,  78)
 */

#container {
  width: 100px;
  height: 200px;
  margin: auto auto;
}

.loading-title {
  display: block;
  text-align: center;
  font-size: 20;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  padding-bottom: 15px;
  color: #888;
  width: 100%;
}

/*
rgb(0,  92, 185)
rgb(0, 157,  78)
*/

.loading-circle {
  display: block;
  border-left: 5px solid;
  border-top-left-radius: 100%;
  border-top: 5px solid;
  margin: 5px;
  animation-name: Loader_611;
  animation-duration: 1500ms;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.sp1 {
  border-left-color: rgb(0, 92, 185);
  border-top-color: rgb(0, 92, 185);
  width: 40px;
  height: 40px;
}

.sp2 {
  border-left-color: rgb(0, 157, 78);
  border-top-color: rgb(0, 157, 78);
  width: 30px;
  height: 30px;
}

.sp3 {
  width: 20px;
  height: 20px;
  border-left-color: orange;
  border-top-color: orange;
}

@keyframes Loader_611 {
  0% {
    transform: rotate(0deg);
    transform-origin: right bottom;
  }

  25% {
    transform: rotate(90deg);
    transform-origin: right bottom;
  }

  50% {
    transform: rotate(180deg);
    transform-origin: right bottom;
  }

  75% {
    transform: rotate(270deg);
    transform-origin: right bottom;
  }

  100% {
    transform: rotate(360deg);
    transform-origin: right bottom;
  }
}

form,
p {
  padding: 0;
  margin: 0;
  outline: none;
  font-size: 16px;
  color: #000;
  line-height: 13px;
  border-radius: 10px;
}

form {
  animation: slideIn 1s forwards;
}

#h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

#h4 {
  margin: 20px 0 2px;
  color: #000;
}

.testbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

form {
  width: 100%;
  padding: 20px;
  background: white;
  box-shadow: 0 2px 5px #ccc;
}

.input {
  width: calc(100% - 10px);
  padding: 5px;
  border: 1px solid #000;
  border-radius: 3px;
  vertical-align: middle;
  background-color: #f7f7f7;
  font-size: 20px;
}

.input:hover,
textarea:hover {
  outline: none;
  border: 1px solid #000;
}

.first-name {
  margin-bottom: 5px;
}

th,
td {
  width: 21%;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
  text-align: center;
  vertical-align: set;
  line-height: 18px;
  font-weight: 400;
  word-break: break-all;
}

.first-col {
  width: 16%;
  text-align: left;
}

table {
  width: 100%;
}

textarea {
  width: calc(100% - 6px);
  background: #f7f7f7;
  border-radius: 5px;
  font-size: 20px;
}

.btn-block {
  margin-top: 20px;
  text-align: center;
}

.btn-block button {
  width: 150px;
  padding: 10px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: rgb(0, 92, 185);
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.btn-block button:hover {
  opacity: 0.9;
}

@media (min-width: 568px) {
  th,
  td {
    word-break: keep-all;
  }
}

.gender-options {
  font-size: 16px;
}
