.card-permission {
  overflow: hidden;
  position: relative;
  text-align: left;
  max-width: 600px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(-200%);
  }

  to {
    transform: translateY(0);
  }
}

.dismiss {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: black;
  border: 2px solid #d1d5db;
  font-size: 1rem;
  font-weight: 300;
  width: 30px;
  height: 30px;
  border-radius: 7px;
  transition: 0.3s ease;
}

.dismiss:hover {
  background-color: #ee0d0d;
  border: 2px solid #ee0d0d;
  color: #fff;
  cursor: pointer;
}

.dismiss:active {
  background-color: #b30c0c;
  border: 2px solid #b30c0c;
  color: #fff;
}

.header {
  padding: 1.25rem 1rem 1rem 1rem;
}

.image-permission {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #49a973;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  transition: 0.6s ease;
}

.image-permission svg {
  color: #0afa2a;
  width: 2rem;
  height: 2rem;
}

.content-permission {
  margin-top: 0.75rem;
  text-align: center;
}

.title-permission {
  color: #066e29;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.message-permission {
  margin-top: 1rem;
  color: #595b5f;
  font-size: 1.25rem;
}

.actions {
  margin: 0.75rem 1rem;
}

.reload {
  display: inline-flex;
  padding: 0.5rem 1rem;
  background-color: #1aa06d;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.reload:hover {
  background-color: #0d8e5d;
  cursor: pointer;
}

.reload:active {
  background-color: #066e29;
}

.loader {
  display: flex;
  justify-content: center;
}

.loader-bar {
  width: 20px;
  height: 60px;
  margin: 0 8px;
  border-radius: 4px;
  animation: loading_3194 1s forwards infinite;
}

.stop-animation {
  width: 20px;
  height: 60px;
  margin: 0 8px;
  border-radius: 4px;
  animation-play-state: paused;
}

.loader-bar:nth-child(1) {
  background-color: rgb(0, 92, 185);
  animation-delay: 0.1s;
}

.loader-bar:nth-child(2) {
  background-color: rgb(0, 157, 78);
  animation-delay: 0.2s;
}

.loader-bar:nth-child(3) {
  background-color: rgb(0, 92, 185);
  animation-delay: 0.3s;
}

.loader-bar:nth-child(4) {
  background-color: rgb(0, 157, 78);
  animation-delay: 0.4s;
}

.stop-animation:nth-child(1) {
  background-color: rgb(0, 92, 185);
  animation-delay: 0.1s;
}

.stop-animation:nth-child(2) {
  background-color: rgb(0, 157, 78);
  animation-delay: 0.2s;
}

.stop-animation:nth-child(3) {
  background-color: rgb(0, 92, 185);
  animation-delay: 0.3s;
}

.stop-animation:nth-child(4) {
  background-color: rgb(0, 157, 78);
  animation-delay: 0.4s;
}

@keyframes loading_3194 {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scaleY(3);
  }

  40% {
    transform: scale(1);
  }
}

/* 
rgb(0,  92, 185)
rgb(0, 157,  78)
 */

#container {
  width: 100px;
  height: 200px;
  margin: auto auto;
}

.loading-title {
  display: block;
  text-align: center;
  font-size: 20;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  padding-bottom: 15px;
  color: #888;
  width: 100%;
}

/*
rgb(0,  92, 185)
rgb(0, 157,  78)
*/

.loading-circle {
  display: block;
  border-left: 5px solid;
  border-top-left-radius: 100%;
  border-top: 5px solid;
  margin: 5px;
  animation-name: Loader_611;
  animation-duration: 1500ms;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.sp1 {
  border-left-color: rgb(0, 92, 185);
  border-top-color: rgb(0, 92, 185);
  width: 40px;
  height: 40px;
}

.sp2 {
  border-left-color: rgb(0, 157, 78);
  border-top-color: rgb(0, 157, 78);
  width: 30px;
  height: 30px;
}

.sp3 {
  width: 20px;
  height: 20px;
  border-left-color: orange;
  border-top-color: orange;
}

@keyframes Loader_611 {
  0% {
    transform: rotate(0deg);
    transform-origin: right bottom;
  }

  25% {
    transform: rotate(90deg);
    transform-origin: right bottom;
  }

  50% {
    transform: rotate(180deg);
    transform-origin: right bottom;
  }

  75% {
    transform: rotate(270deg);
    transform-origin: right bottom;
  }

  100% {
    transform: rotate(360deg);
    transform-origin: right bottom;
  }
}
